day2-Part1 Solution.exe
day2-Part1 Solution.ilk
day2-Part1 Solution.obj
day2-Part1 Solution.pdb
day2.exe
day2.ilk
day2.obj
day2.pdb
vc140.pdb
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
